.logo {
    margin: 4rem 0 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}

.logoLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);
    transition: all 0.2s;
}

.logoLink:hover {
    filter: brightness(80%);
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}
